<!DOCTYPE html>


<html>

    <head>
        <title>{%block title %}{% endblock %}TOP 10 Smartphones</title>
        <meta charset="utf8" />
        <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Staatliches" rel="stylesheet"> 
        
    </head>

    <body>

        <header>
            <div id="logo">
            <h1>TOP 10 Smartphones 2019</h1>
            </div>
            
            <nav>
                <a href="/">Accueil</a>
                <a href="/Contacts">Contacts</a>
            </nav>
        </header>


        <main>
            {% block main %}{% endblock %}
        </main>


        <footer>
            <img src="/assets/img/Amour.jpeg" alt="Créé par Gallopin et Selingue" />
            <center><b>Créé par Gallopin et Selingue</b></center>
        
        </footer>

    </body>

</html>