{% extends "base.twig" %}
{% block main %}

<!-- Héritage de template ? Block(s) ? -->

<section>
    <h2>Si tu n'as pas assez d'argent pour te payer un smartphone haut de gamme, alors ce site n'est pas fait pour toi </h2>


      {% for tel in telephones %}
        <a href="/details/{{ tel.Nom }}">
                <figure>
                    <img src=" {{ tel.image_b64 }}" alt="" />
                    <figcaption>{{ tel.Nom }}</figcaption>
            </figure>
          </a> 
      {% endfor %}

        
        
</section>

{% endblock %}