{% extends "base.twig" %}
{% block main %}



<!-- Héritage de template ? Block(s) ? -->
<div class="grid">
    <article>
    
        
        
        <center><h2>{{details.Marque}} {{ details.Nom  }}</h2>  </center>

      

        <div class="description">
            {{ dino.description }}
        </div>

        <div class="card">
         <center>
            <img src=" {{ details.image_b64 }}" alt="" />
            <dl>
                <dt>Marque</dt>
                {{ details.Marque }}
                <dt>Nom</dt>
                {{ details.Nom  }}
                <dt>Prix</dt>
                {{ details.Prix  }}
                <dt>Taille</dt>
                {{ details.Taille  }}
                <dt>Definition</dt>
                {{ details.Definition  }}
                <dt>Memoire</dt>
                {{ details.Memoire }}
                 <dt>MicroSD</dt>
                {{ details.MicroSD  }}
                <dt>Processeur</dt>
                {{ details.Processeur  }}
                <dt>Frequence</dt>
                {{ details.Frequence }}
                <dt>RAM</dt>
                {{ details.RAM  }}
                <dt>GPU</dt>
                {{ details.GPU  }}
                <dt>Autonomie</dt>
                {{ details.Autonomie }}
                <dt>QuickCharge</dt>
                {{ details.QuickCharge  }} 
                <dt>SIM</dt>
                {{ details.SIM  }}
                <dt>USB</dt>
                {{ details.USB }}
                <dt>OS</dt>
                {{ details.OS  }}     
                <dt>OS</dt>
                {{ details.OS  }}        
                <dt>Hauteur</dt>
                {{ details.Hauteur  }}   
                <dt>Largeur</dt>
                {{ details.Largeur  }}    
                <dt>Epaisseur</dt>
                {{ details.Epaisseur  }} 
                <dt>Poids</dt>
                {{ details.Poids  }}               
            </dl>
            </center>
        </div>
    </article>

    <aside>
        <h3></h3>
        <!-- iterate here ? -->
            <a href="{{details.Site}}">
                <figure>
                    <img src="" alt="" />
                    <figcaption>Où le trouver moins cher ?</figcaption>
                </figure>
            </a>
    </aside>
</div>


{% endblock %}


